<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943140379339-iaf8g68k7cpua12edq2mpiadl3luauf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943140379339-iaf8g68k7cpua12edq2mpiadl3luauf2</string>
	<key>API_KEY</key>
	<string>AIzaSyAm4QcA70V9yEywGDLm_Z3mkZ-s3aKA7bc</string>
	<key>GCM_SENDER_ID</key>
	<string>943140379339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>scorpion-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>scorpion-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943140379339:ios:5592e5f290420ae258994e</string>
</dict>
</plist>